api/.vs/HousekeepingAPI/DesignTimeBuild/.dtbcache.v2
api/.vs/HousekeepingAPI/FileContentIndex/1d73cd7b-50ce-4ec3-b81a-602320aa8208.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/247ef653-3b01-40ad-98df-a43f11c7d63e.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/28557728-5ac7-482a-9570-0790dd5ec83d.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/37e100c8-4e0c-4465-b75a-47fe9afe36ce.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/55b7458a-a17b-4301-88a0-54d0b88baeec.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/992b0808-e63e-4774-8e7a-8dbd1a92e9f1.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/afb70230-cbc7-4f17-94f4-7bbb9322b949.vsidx
api/.vs/HousekeepingAPI/FileContentIndex/c6df6c4d-06ce-4b4b-82ef-5572586a7a84.vsidx
api/.vs/HousekeepingAPI/v17/.futdcache.v2
api/.vs/HousekeepingAPI/v17/.suo
api/.vs/HousekeepingAPI/v17/DocumentLayout.backup.json
api/.vs/HousekeepingAPI/v17/DocumentLayout.json
api/.vs/ProjectEvaluation/housekeepingapi.metadata.v9.bin
api/.vs/ProjectEvaluation/housekeepingapi.projects.v9.bin
api/.vs/ProjectEvaluation/housekeepingapi.strings.v9.bin
api/HousekeepingAPI/bin/Debug/net8.0/HousekeepingAPI.dll
api/HousekeepingAPI/bin/Debug/net8.0/HousekeepingAPI.exe
api/HousekeepingAPI/bin/Debug/net8.0/HousekeepingAPI.pdb
api/HousekeepingAPI/obj/Debug/net8.0/apphost.exe
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.AssemblyInfo.cs
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.AssemblyInfoInputs.cache
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.assets.cache
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.csproj.AssemblyReference.cache
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.csproj.CoreCompileInputs.cache
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.dll
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.GeneratedMSBuildEditorConfig.editorconfig
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.genruntimeconfig.cache
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.pdb
api/HousekeepingAPI/obj/Debug/net8.0/HousekeepingAPI.sourcelink.json
api/HousekeepingAPI/obj/Debug/net8.0/ref/HousekeepingAPI.dll
api/HousekeepingAPI/obj/Debug/net8.0/refint/HousekeepingAPI.dll
api/HousekeepingAPI/obj/Debug/net8.0/staticwebassets.build.json
api/HousekeepingAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.HousekeepingAPI.props
api/HousekeepingAPI/obj/HousekeepingAPI.csproj.nuget.dgspec.json
api/HousekeepingAPI/obj/HousekeepingAPI.csproj.nuget.g.props
api/HousekeepingAPI/obj/project.assets.json
api/HousekeepingAPI/obj/project.nuget.cache
api/HousekeepingAPI/Program.cs
